@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.custom-arrow {
  position: absolute;
  bottom: -70px;
  right: 15px;
  cursor: pointer;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.1); Transparent background */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(99, 96, 96);
  font-size: 20px;
}

.custom-next {
  /* right: 25px;  */
  margin-left: 50px;
}

.custom-prev {
  margin-right: 80px}

.custom-arrow:hover {
  /* background-color: rgba(255, 255, 255, 0.3); Slightly brighter on hover */
  color: #7F00FF;
}

.custom-arrow span {
  font-size: 24px;
  line-height: 1;
}


.wave {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
  animation: rotate 10s infinite linear, pulse 2s infinite;
}

.wave.-one {
  background: rgba(255, 255, 255, 0.4);
  animation: rotate 10s infinite linear, pulse 2s infinite;
}

.wave.-two {
  background: rgba(255, 255, 255, 0.3);
  width: 350px;
  height: 350px;
  animation: rotate 15s infinite linear reverse, pulse 2s infinite;
}

.wave.-three {
  background: rgba(255, 255, 255, 0.2);
  width: 400px;
  height: 400px;
  animation: rotate 20s infinite linear, pulse 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.cubym{
  animation-delay: -4000ms;
}
.chxkd{
  animation-delay: -8000ms;
}